@import "tailwindcss";

@theme inline {
  --color-brand-primary: #D94A1E;
  --color-brand-secondary: #DA582D;
  --color-text-dark: #353A3E;
  --color-text-muted: #868686;
  --color-text-body: #4B5563;
  
  --color-background: #FFFCFA;

  --font-heading: var(--font-bricolage);
  --font-body: var(--font-afacad);
}

body {
  @apply font-body text-text-body bg-background;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading text-text-dark;
}
